 body {
	 font-family: 'Helvetica', sans-serif;
 }
 h2 {
	 text-align: center;
 }
 .calendar-table {
	 margin-left: auto;
	 margin-right: auto;
 }
 .day {
    border-style: solid;
    border-width: 1px;
    width: 15px;
    height: 15px;
    font-size: 10px;
    font-family: sans-serif;
    text-align: center;
    padding: 1;
 }
.sun, .sat {
	background-color: #665847; 
	color: #FFFFFF;
}
.mon, .tue, .wed, .thu, .fri { 
	background-color: #79BEDB;
}